* {
	box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #515151;
  min-width: 300px;
}


.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

header {
	background-color: #AAA;
	padding: 20px;
	margin-bottom: 20px;
}

.logo {
	float: left;
}
.burger {
/*	visibility: hidden;*/
	display: none;
}
.social-icons,
.search-icons,
.nav {
	float: right;
	margin: 5px;
}

.search-icon {
	background: url(imgs/search.svg) no-repeat 50% 50%;
	display: block;
    width: 50px;
    height: 50px;
    /*border-image-width: 0px;
    border: none !important;*/
}

.search-icon:hover {
	/*display: none;*/
	background: url(imgs/search2.svg)  no-repeat 50% 50%;
}

.social-icon {
	display: block;
    width: 30px;
    height: 30px;    
    float: right;
	/*margin: 5px;*/	
}

.facebook {
	background: url(imgs/facebook.svg)  no-repeat 50% 50%;
}
.facebook:hover {
	background: url(imgs/facebook2.svg)  no-repeat 50% 50%;
}
.twitter {
	background: url(imgs/twitter.svg)  no-repeat 50% 50%;
}
.twitter:hover {
	background: url(imgs/twitter2.svg)  no-repeat 50% 50%;
}
.instagram {
	background: url(imgs/instagram.svg)  no-repeat 50% 50%;
}
.instagram:hover {
	background: url(imgs/instagram2.svg)  no-repeat 50% 50%;
}
.linkedin {
	background: url(imgs/linkedin.svg)  no-repeat 50% 50%;
}
.linkedin:hover {
	background: url(imgs/linkedin2.svg)  no-repeat 50% 50%;
}
.youtube {
	background: url(imgs/youtube.svg)  no-repeat 50% 50%;
}
.youtube:hover {
	background: url(imgs/youtube2.svg)  no-repeat 50% 50%;
}

.google_plus {
	background: url(imgs/google_plus.svg)  no-repeat 50% 50%;
}
.google_plus:hover {
	background: url(imgs/google_plus2.svg)  no-repeat 50% 50%;
}
.telegram {
	background: url(imgs/telegram.svg)  no-repeat 50% 50%;
}
.telegram:hover {
	background: url(imgs/telegram2.svg)  no-repeat 50% 50%;
}
/*.hidden-icons {
	display: content;
	display: relative;
}*/

/*.hidden-icons:hover {
	display: content;
}*/

main {
	float: left;
	background-color: #F0F0F0;
	width: calc(100% - 300px);
	padding: 20px;
	min-width: 400px;
}

.container {
  /*border: solid 1px red;*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 10px;
  /*grid-auto-columns: minmax(400px, auto);*/
  /*justify-content: center;*/
}

.post {
  min-width: 360px;
  box-shadow: 0 0 9px 3px #dddddd;
  border-radius: 15px;
}

.as-link { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

  /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('imgs/empty.gif');
  /*z-index:0;*/
  opacity: 0;
} 

/*.for-logo {
	float: left;
	width: 100px;
  	overflow:hidden;
}
.logo:hover{
	width: 20px;
}*/
.post-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
  width: 300px;/*with max-width zooming doesnt work for all exept first gif*/
  overflow:hidden;/*doesnt work at the moment with my zooming properly (at all)*/
  z-index: 10;
  transition: 1s;
}

.post-img:hover{
	width: 350px;
  transition: 1s;

}

img.animated-gif{
  width: 250px;
  height: auto;
}
img.robot-arm{
  width: 300px;
  height: auto;
}

.post-info {
	display: block;
	margin-top: 5px;
  padding: 10px;
  border-radius: 5px;  
  position:relative;
}

.post-title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}

.post-description {
  margin-bottom: 10px;
}

.post-author {
  color: gray;
  margin-bottom: 5px;
}

.post-statistic-wrp {
  color: gray;
  padding-top: 10px;
  border-top: solid 1px #ededed;
}

.post:hover * {
  background: #444;
  color: white;
}

aside {
	float: right;
	background-color: #AAA;
	width: 300px;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
	/*display: grid;*/
	font-size: 18px;
  	font-weight: normal;
  	margin-bottom: 5px;
  	text-align: center;
}

img.photo {
	display: block;
	width: 200px;
	border-radius: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}
.author-social-icons a {
	display: inline-block;
    width: 30px;
    height: 30px;    
    /*float: right;*/
	/*margin: 5px;*/	
}
.author-social-icons .linkedin {
	background: url(imgs/linkedin2.svg)  no-repeat 50% 50%;	
}
.author-social-icons .linkedin:hover {
	background: url(imgs/linkedin.svg)  no-repeat 50% 50%;
}
.author-social-icons .facebook {
	background: url(imgs/facebook2.svg)  no-repeat 50% 50%;
}
.author-social-icons .facebook:hover {	
	background: url(imgs/facebook.svg)  no-repeat 50% 50%;
}

input[type="submit"] {
	font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #515151;
  /*display: block;*/
  width: 100%;
}

.tags-block span {
	background-color: #999;
	padding: 1px;
	margin: 1px;
	display: inline-block;
	border: 1px solid #666;
}
.tags-block span:hover {
	color: white;
	background-color: #999;
}
.last-comment-block {
	margin: 5px;
	font-weight: bold;
	border: 1px solid #CCC;
	border-radius: 20px;
	padding-top: 5px;
	padding-left: 3px;
}
.comment-author-photo {
	float: left;
}
.comment-author-photo img {
	width: 100px;
	height: 100px;
	border-radius: 100px
}
.comment-author-name-and-text p {
	/*float: right;*/
	/*height: 20px;*/
	white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
   /* background: #fc0;*/ /* Цвет фона */
   /* padding: 5px;*/ /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
.comment-author-name-and-text p:hover {
	white-space: normal;
	/*text-overflow: none;*/
}

footer {
	background-color: #000;
	padding: 20px;
	margin-top: 20px;
	color: white;
	/*position:relative;*/
	/*justify-content: center;*/
	text-align: center;
}

#copyright {
    /*position: absolute;
    bottom: 5px;*/
   /* display: inline-block;;*/
   /*margin-left: auto;
   margin-right: auto;*/
}

.more {
	float:right;
	font-size: 18px;
	text-align: left;
}

.white-line{
	height: 2px;
	background-color: white;
}

.more a {
	color: white;
}
.more a:hover {
	color: black;
	background-color: white;
}

a {
	text-decoration: none;
}

ul.nav{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

.nav li { 
    display: inline; 
}

ul.nav a {
    display: inline-block;
    width: 10em;
    /*padding:10px;*/
    background-color: rgba(20,20,20,0);/*#f4f4f4*/
    border: 1px solid #333;
    text-decoration: none;
    color: black;/*333*/
    font-weight:bold;
    text-align: center;
    /*opacity: 0.5;*/
}

ul.nav a:hover{
    background-color: #333;
    color: #f4f4f4;
}

@media all and (max-width: 735px) {
	aside {
		float: left;
		width: 100%;
		min-width: 500px;

	}
	main {
		width: 100%;
		min-width: 500px;
	}
	footer {
		min-width: 500px;
	}
	header {
		min-width: 500px;
		position: relative;
	}
	.burger {
		display: initial;
		float: left;
	}
	.social-icons {
		display: none;
	}
	header .logo {
		position: absolute;
		bottom: 0px;
		/*padding-top: 500px;*/
	}
}