* {
	box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #515151;
}


.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

header {
	background-color: grey;
	padding: 20px;
	margin-bottom: 20px;
}

.logo {
	float: left}

.social-icons,
.search-icons,
.nav {
	float: right;
	margin: 5px;
}

.search-icon {
	background: url(imgs/search.svg) no-repeat 50% 50%;
	display: block;
    width: 50px;
    height: 50px;
    /*border-image-width: 0px;
    border: none !important;*/
}

.search-icon:hover {
	/*display: none;*/
	background: url(imgs/search2.svg)  no-repeat 50% 50%;
}

.social-icon {
	display: block;
    width: 30px;
    height: 30px;    
    float: right;
	/*margin: 5px;*/	
}

.facebook {
	background: url(imgs/facebook.svg)  no-repeat 50% 50%;
}
.facebook:hover {
	background: url(imgs/facebook2.svg)  no-repeat 50% 50%;
}
.twitter {
	background: url(imgs/twitter.svg)  no-repeat 50% 50%;
}
.twitter:hover {
	background: url(imgs/twitter2.svg)  no-repeat 50% 50%;
}
.instagram {
	background: url(imgs/instagram.svg)  no-repeat 50% 50%;
}
.instagram:hover {
	background: url(imgs/instagram2.svg)  no-repeat 50% 50%;
}
.linkedin {
	background: url(imgs/linkedin.svg)  no-repeat 50% 50%;
}
.linkedin:hover {
	background: url(imgs/linkedin2.svg)  no-repeat 50% 50%;
}
.youtube {
	background: url(imgs/youtube.svg)  no-repeat 50% 50%;
}
.youtube:hover {
	background: url(imgs/youtube2.svg)  no-repeat 50% 50%;
}

.google_plus {
	background: url(imgs/google_plus.svg)  no-repeat 50% 50%;
}
.google_plus:hover {
	background: url(imgs/google_plus2.svg)  no-repeat 50% 50%;
}
.telegram {
	background: url(imgs/telegram.svg)  no-repeat 50% 50%;
}
.telegram:hover {
	background: url(imgs/telegram2.svg)  no-repeat 50% 50%;
}
/*.hidden-icons {
	display: content;
	display: relative;
}*/

/*.hidden-icons:hover {
	display: content;
}*/

main {
	float: left;
	background-color: #F0F0F0;
	width: calc(100% - 120px);
	padding: 20px;
}

.container {
  /*border: solid 1px red;*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  /*justify-content: center;*/
}

.post {
  /*width: 300px;*/
  box-shadow: 0 0 9px 3px #dddddd;
  border-radius: 15px;
  position:relative;

}

.as-link { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

  /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
  /*z-index:0;*/
  opacity: 0;
} 

.post-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
  max-width: 300px;
}

img.animated-gif{
  width: 250px;
  height: auto;
}
img.robot-arm{
  width: 300px;
  height: auto;
}

.post-info {
	margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
}

.post-title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}

.post-description {
  margin-bottom: 10px;
}

.post-author {
  color: gray;
  margin-bottom: 5px;
}

.post-statistic-wrp {
  color: gray;
  padding-top: 10px;
  border-top: solid 1px #ededed;
}

.post:hover * {
  background: #444;
  color: white;
}

aside {
	float: right;
	background-color: #FFDC00;
	width: 100px;
	padding: 20px;
	text-align: right;
}

footer {
	background-color: #111111;
	padding: 20px;
	margin-top: 20px;
	color: white;
}

a {
	text-decoration: none;
}

ul.nav{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

.nav li { 
    display: inline; 
}

ul.nav a {
    display: inline-block;
    width: 10em;
    /*padding:10px;*/
    background-color: rgba(20,20,20,0);/*#f4f4f4*/
    border: 1px dashed #333;
    text-decoration: none;
    color: black;/*333*/
    font-weight:bold;
    text-align: center;
    /*opacity: 0.5;*/
}

ul.nav a:hover{
    background-color: #333;
    color: #f4f4f4;
}