* {
	box-sizing: border-box;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

header {
	background-color: #01FF70;
	padding: 20px;
	margin-bottom: 20px;
}

.logo {
	float: left;
}

.social-icons,
.search-icons,
.nav {
	float: right;
	margin: 5px;
}

.visible-icons:hover/*.search-icons a:hover*/ {
	display: none;
}

.hidden-icons {
	/*display: content;*/
	display: relative;
}

.hidden-icons:hover {
	display: content;
}

main {
	float: left;
	background-color: #FF4136;
	width: calc(100% - 320px);
	padding: 20px;
}

aside {
	float: right;
	background-color: #FFDC00;
	width: 300px;
	padding: 20px;
	text-align: right;
}

footer {
	background-color: #111111;
	padding: 20px;
	margin-top: 20px;
	color: white;
}

a {
	text-decoration: none;
}

ul.nav{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

.nav li { 
    display: inline; 
}

ul.nav a {
    display: inline-block;
    width: 10em;
    /*padding:10px;*/
    background-color: rgba(20,20,20,0);/*#f4f4f4*/
    border: 1px dashed #333;
    text-decoration: none;
    color: black;/*333*/
    font-weight:bold;
    text-align: center;
    /*opacity: 0.5;*/
}

ul.nav a:hover{
    background-color: #333;
    color: #f4f4f4;
}